<div class="text-center">
  <h2>{{title}}</h2>
  <h6>Created by {{user.username}} on {{format_date date_created}}</h6>
  <p>{{content}}</p>
</div>



<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="/posts/{{post.id}}" class="lead">{{post.title}}</a>
    <p>{{post.content}}</p>
    <form action="/posts/{{this.id}}/comments" method="post">
      <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Paste</button>
      </div>
    </form>
  </div>
</div>

{{#each post.comments}}
  {{this}}
{{/each}}